{% extends "base.html" %}
{% block start %}

<div class="container mt-5">

    <form class="col-6 mx-auto card p-3" shadow-lg method="post" enctype="multipart/form-data">
        <h2>update recipes</h2>
        <hr>
        {% csrf_token %}
        <div class="mb-3">
            <label>Recipes name</label>
            <input name="receipe_name" value="{{receipe.receipe_name}}" required type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Receipe Description</label>
            <textarea class="form-control" name="receipe_description"  required>  </textarea>
        </div>

        <div class="mb-3">
            <label>receipe image</label>
            <input name="receipe_image" type="file" class="form-control">
        </div>

        <button type="submit" class="btn btn-receipe">update receipe</button>
    </form>

 
</div>

{% endblock %}